<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Toolbox.Properties.Settings>
            <setting name="CustomUnits" serializeAs="String">
                <value>kts?|ft|lbs?|inHg|n?mi|psi|atm|°F|VDC</value>
            </setting>
            <setting name="IncludeVariablesInExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreferDocumentVariable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IconSize" serializeAs="String">
                <value>32</value>
            </setting>
        </Toolbox.Properties.Settings>
    </userSettings>
</configuration>